/* Section 1 */
#introduction {
    padding-top: 40px;
}

.info {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 2rem;
    align-items: center;
    justify-items: center; /* centra horizontalmente los elementos del grid */
    text-align: center;    /* centra el texto dentro de cada celda */
}

.info h3 {
    font-size: 1.5rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}

.info h1 {
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}

.info p {
    line-height: 1.7;
    font-size: 1.8rem;
    opacity: 0;
    animation: topSideAni 1.5s ease forwards;
    animation-delay: 1.3s;
}



/* Section 1 End */

/* Media Queries para tablets/desktop */
@media(min-width: 768px) {
    .info {
        grid-template-columns: repeat(2, 1fr); /* dos columnas */
        text-align: left;
    }

    .info h1 {
        font-size: 4rem; /* tamaño original para desktop */
    }

    .info p {
        font-size: 0.98rem;
    }
}

/* Desktop grande */
@media(min-width: 1200px) {
    #introduction {
        margin: 80px auto;
        padding: 60px 40px;
    }
}
