:root {
  --card-height: 300px;
  --card-width: calc(var(--card-height) / 1.5);
  --primary-color: #f9532d;
  --primary-dark: #1F252E;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 0 1px;
  perspective: 2500px;
  background-color: transparent;

}
.Pcard {
  text-decoration: none; 
}

.Pcard .project-title {
  margin-top: 30px;
  text-decoration: none; 
  color: white;           
  font-size: 1.2em;
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.7);
}


.wrapper {
  position: absolute;
  top: 0;               /* que empiece desde arriba */
  left: 0;              /* y desde la izquierda */
  width: 100%;
  height: 100%;         /* que cubra todo el alto de la card */
  z-index: -1;
  transition: all 0.5s;
}

.cover-image {
  width: 100%;
  height: 100%;
  object-fit: cover;    /* llena el contenedor aunque recorte */
  object-position: center;
  border-radius: 10px;
 
}




.card:hover .wrapper {
  transform: perspective(900px) translateY(-5%) rotateX(25deg) translateZ(0);
  box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 35px 32px -8px rgba(0, 0, 0, 0.75);
}

.wrapper::before,
.wrapper::after {
  content: "";
  opacity: 0;
  width: 100%;
  height: 80px;
  transition: all 0.5s;
  position: absolute;
  left: 0;
}
.wrapper::before {
  top: 0;
  height: 100%;
  background-image: linear-gradient(
    to top,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}
.wrapper::after {
  bottom: 0;
  opacity: 1;
  background-image: linear-gradient(
    to bottom,
    transparent 46%,
    rgba(12, 13, 19, 0.5) 68%,
    rgba(12, 13, 19) 97%
  );
}

.card:hover .wrapper::before,
.wrapper::after {
  opacity: 1;
}

.card:hover .wrapper::after {
  height: 120px;
}
.title {
  width: 100%;
  transition: transform 0.5s;
}
.card:hover .title {
  transform: translate3d(0%, -50px, 100px);
}

.character {
  height: 80%;
  width: 100%;
  opacity: 0;
  transition: all 0.5s;
  position: absolute;
  z-index: -1;
  border-radius: 10px;
}

.card:hover .character {
  opacity: 1;
  transform: translate3d(0%, -30%, 100px);
  cursor: pointer;
}

#projects{
    margin-top:85px;
    margin-bottom: 50px;
}

#projects h2{
    margin-bottom: 70px;
   
}