@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.css');
@import "https://unpkg.com/open-props" layer(design.system);
:root {
     
    --primary-color: #f9532d;
    --primary-dark: #1F252E;
    --card-height: 400px;
    --card-width: 300px;
}
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
#frase{
    color:#f9532d;
}
body {
    font-family: 'Outfit', 'arial';
}
/* Genral */
.container {
    padding: 0 5.3rem;
    flex-wrap: wrap;
}
.img-w {
    width: 100%;
}
/* Nav */
header {
    box-shadow: 0 4px 17px rgba(0, 0, 0, .1);
    background: #fff;
    position: sticky;
    display:flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 1;
}

nav {
    width: auto;
    display: flex;
    gap: .6rem;
    background-color: transparent;
    overflow: hidden;
    height: 4.5rem;
    animation: rightSideAni 1s ease forwards;
}
nav *{
    margin: auto;
}

#navLINKS{
    margin-left: auto;
    display: flex;
    gap: 1rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: 800;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
}

.logo a {
    color: #244D61;
    text-decoration: none;
}



.navlink {
    display: inline-block;
    padding: .3rem;
    color: var(--nav-text);
    text-decoration: none;
    font-size: 1.05rem;
    font-weight: 600;
    letter-spacing: .7px;
    border-radius: 36px;
    line-height: 2;
    transition: .3s;
    opacity: 0;
    animation: navani .3s ease forwards;
    animation-delay: calc(.15s * var(--navAni));
    cursor: pointer;
}

a.active,
 nav a:hover {
    color: var(--primary-color);
}

.logo img {
    cursor: pointer;
}

#click {
    display: none;
}

.menu {
    display: none;
    opacity: 0;
}

.mode i {
    font-size: 2rem;
    cursor: pointer;
    color: var(--primary-color);
    opacity: 0;
    animation: rightSideAni 1.5s ease forwards;
}
/* Nav End */

/* Section 1 */

#Introduction{
    padding-top: 8px;
}
.main {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(277px, 1fr));
    row-gap: 2rem;
    align-items: center;
}
.main h3 {
    font-size: 1.5rem;
    opacity: 0;
    animation: topSideAni 1s ease forwards;
}
.main h1 {
    font-size: 4rem;
    font-weight: 600;
    opacity: 0;
    animation: leftSideAni 1s ease forwards;
    animation-delay: 1s;
}
.main p {
    line-height: 1.7;
    font-size: 1.15rem;
    opacity: 0;
    animation: topSideAni 1.5s ease forwards;
}
/*Estilo de iconos de las redes sociales*/
#main-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width:100%;
    justify-content: center;
    align-items: center;
}
#contactMe{
    margin-top: 30px; 
}
.social-container {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 15px 0 0 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
}
.item {
    width: 50px;
    height: 50px;
    display: flex;
    cursor: pointer;
    position: relative;
    transition: all .3s;
    list-style: none;
    justify-content: center;
    margin-bottom: 30px;
}
.fab {
    width: 100%;
    height: 100%;
    font-size: 20px;
    transition: .3s;
    display: grid;
    place-items: center;
    border-radius: 50%;
    color: rgba(255, 255, 255, 0.878);
    cursor: pointer;
}
.bg {
    position: absolute;
    width: 100%;
    height: 90%;
    z-index: -1;
    border-radius: 40%;
    transition: all .3s;
    padding-top: 5px;    
}
.insta-bg {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.link-bg {
    background: rgb(1, 80, 123);
}
.whats-bg {
    background: #15a54a;
}
.tele-bg {
    background: #229ED9;
}
.face-bg {
    background: #215eae;
}
.git-bg{
    background: black;
}
.social-container .item:hover .bg {
    transform: rotate(25deg);
    transform-origin: bottom;
}
.social-container .item:hover .fab {
    background-color: rgba(156, 156, 156, 0.466);
}
.social-container .item:hover span:last-child {
    transform: translateY(60px);
    width: 100px; 
}
.social-container .item span:last-child {
    position: absolute;
    color: white;
    font-family: 'calibri';
    width: 0px;
    overflow: hidden;
    z-index: -1;
    top: 10%;
    transform: translateY(20px);
    transition: .3s;
}
/*Fin del estilo de los iconos de las redes sociales*/
.imagesMine img {
    position: relative;
}
.imagesMine::before {
    content: "";
    position: absolute;
    width: 100%;
    height: calc(100% - 130px);
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    border-radius: 6px;
}
.imagesMine::before {
    background: linear-gradient(145deg, #e2e8ec, #1F252E);
    box-shadow: 5px 5px 25px #D1D9E6, -5px -5px 15px #ffffff; 
}
.imagesMine {
    width: 70%;
    margin-left: auto;
    position: relative;
    z-index: -1;
}
.imagesMine {
    opacity: 0;
    animation: imageAni 1s ease forwards;
    animation-delay: 1.5s;
}
#cuadro{
    padding-top:3 px;
}
/* Section 1 End */

/* Dark Mode */
.dark-mode {
    background-color: var(--primary-dark);
    color: #ffffff;
}
.mode input {
    display: none;
}
:is(.dark-mode) {
    .social a {
        color: var(--primary-color);
        border: 1.6px solid var(--primary-color);
    }
    .social a:hover {
        color: var(--primary-dark);
        background-color: var(--primary-color);
        box-shadow: 0 0 20px var(--primary-color);
    }
    .logo a {
        color: #fff;
    }
    .imagesMine::before {
        background: linear-gradient(145deg, #1f252e, #2e3239);
        box-shadow: 10px 10px 19px #1c1e22, -10px -10px 19px #1b1f27;
    }
}
.dark-mode header {
    box-shadow: 0 4px 17px rgb(80 80 80 / 31%);
    background: var(--primary-dark);
}
/*Section about me (skills)*/
#aboutMe{
    margin-top: 45px;
    text-align: center;
    padding: 10px;
}
#softSkillContainer{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;

}
.softSkills{
    width: 25vw;
    height: 10vh;
    border-radius: 20px;
    background-color: rgb(238, 238, 240);
    margin-top: 15px;
}
#litleTitles{
    margin: 100px 20px 40px 0;
}



.iconoConocidoContainer{
    width: auto;
    justify-content: center;
    flex-wrap: wrap;

}
.iconoConocido{
    width: 13vw;
    height: 9vh;
    margin: 30px;
    margin-left: 60px;
    margin-top: 10px;
    filter: grayscale(100);
    transition: filter 0.9s;
    transition: transform 0.9s;

}
.iconoConocido:hover{
    transform: scale(1.2);
    filter: grayscale(0);
    transition: all 0.3s ease-in;
    transition: all 0.3s ease-out;
}
/*END section*/
/*Section about personal projects */

#projectContainer{
    flex-wrap: wrap;
    display: flex; 
    justify-content: space-around; 
    margin-bottom: 5px;
    
}
#projects{
        flex-wrap: wrap;
        margin: 60px 5px 0 5px;
        text-align: center;
}

/*End of section*/
/*Footer*/
footer {
    justify-content: space-between;
    display: flex;
    height: 30%5;
    margin-top: 20px;
    background-color: #1c1e22;
    justify-content: center;
    flex-wrap: wrap;
}
.footerContainers{
    margin: 10px;
    margin-top: 20px;
}
#divF1{
    width: 25%;
}
#divF2{
    justify-content: right;
    width: 30%;
    text-align: center;
}
#divF3{
    width: 35%;
    height: 80%;
}
#frase{
    margin-left: 5px;
}
button {
    margin-top: 15px;
    background-color: #f9532d;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    color: #bd3434;
    background-color: #244D61;
    box-shadow: 0 0 10px #244D61;
    transition: all .2s ease-in-out;
}

button:active {
    transform: scale(0.90);
}

/* Estilos para el modal */

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.7);
    border-radius: 15px;
    backdrop-filter: blur(20px);
}

.modal-content {
    background-color: #9191911f;
    border-radius: 15px;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 60%;
    
    text-align: center; /* Centrar el contenido del modal */
    
    border: 0px;
}
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    margin-top: -20px;

}

.close:hover,
.close:focus {
    color: black;
}

/* Estilos para el formulario dentro del modal */
/* Estilos para el formulario dentro del modal */
form {
    display: flex;
    flex-direction: column;
    
    border-radius: 15px;
    padding: 10px;
}

form button {
    width: 18%;
    margin-right: auto;
    margin-left: auto;
    font-size: medium;
}

#cancelarform {
    background-color: red;
}

#cancelarform:hover {
    background-color: gray;
}

#submit {
    background-color: #15a54a;
}

#submit:hover {
    background-color: #054903;
    color:white;
}

label {
    margin-bottom: 8px;
}

footer input, textarea {
    width: 70%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
    border-radius: 10px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

textarea {
    /* Ajusta la altura del textarea según tus necesidades */
    height: 100px;
}

#buttons {
    display: flex;
    justify-content: space-around;
}




/*END footer*/
/* Animation */
@keyframes leftSideAni {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes navani {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes rightSideAni {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes topSideAni {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes SocialAni {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes imageAni {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@media screen and (max-width: 1024px) {
    form {
        font-size: large;
        
    }
    .modal-content {
        width: 70%;
        
    }
    .container {
        padding: 0 4.4rem;
    }
}
@media screen and (max-width: 1010px) {
    form {
        font-size: large;
        
    }
    .modal-content {
        width: 70%;
    }
    .container {
        padding: 0 4.2rem;
    }

    #projectContainer{
        justify-content: space-around;
    }
    .Pcard{
        margin: 15px;
    }

}
@media screen and (max-width: 990px) {
    form {
        backdrop-filter: blur(0px);
        
    }
    .modal-content {
        width: 70%;

    }
    .container {
        padding: 0 1.9rem;
    }
}
@media screen and (max-width: 768px) {
    #litleTitles{
        margin-top: 150px;
    }
    .modal-content {
        width: 70%;
    }
    footer input, textarea {
        width: 90%;
    }
    body {
        height: auto;
        background-color: var(--primary-dark);
        width: 100vw;
    }
    .container {
        padding: 1.5rem;
    }
    .mainicon {
        display: block;
        cursor: pointer;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
        right: 0;
    }
    nav{   
        grid-row: auto;
        text-align: center;
        position: fixed;
        top: 10%;
        left: -100%;
        width: 100%;
        height: 80%;
        transition: left 0.3s ease;
        z-index: 111111;
        overflow-y: auto; /* Añadido para permitir el desplazamiento en el menú */
    }
    nav a {
        display: block;
        padding: 1rem;  
    }
    #click:checked ~ nav {
        display: flex;
        flex-direction: column;
        text-align: center;
        left: 0;
        transition: left 0.3s ease;
    }
    #navLINKS{
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    #click:not(:checked) ~ nav {
        display:none;
        left: -100%; /* Oculta el nav cuando #click no está marcado */
        transition: left 0.3s ease 0.32s; /* Transición al ocultar el nav */
    
    }
    header:not(#logo) {
        justify-content: space-between;
        align-items: center;
        padding: 1rem; /* Ajusta el padding según sea necesario */
    }
    .mode {
        position: sticky;
        padding-left: 10px;
    }
    .logo {
        margin-bottom: 1rem;
        opacity: 1; /* Asegurarse de que el logo sea visible en pantallas pequeñas */
        text-align: left;
        margin-right: auto;
    }
    .logo a {
        text-decoration: none;
        color: white;
        font-size: 1.5em;
    }
    .menu {
        display: block; /* Asegurarse de que el ícono del menú sea visible en pantallas pequeñas */
        opacity: 1;
        font-size: 2.5rem;
        font-weight: bold;
        color: #244D61;
        cursor: pointer;
        margin-left: auto;
        margin-right: 0;
    }
    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode nav {
        background: var(--primary-dark);
    }
    .imagesMine {
        width: 100%;
        margin: auto;
    }
    .social-container {
        display: flex;
        text-align: center;
        justify-content: space-between;
    }
    .main {
        grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
        margin-top: 2rem;
        overflow-x: hidden;
    }
    #projectContainer{
        display: row; 
        justify-content: center; 
        margin-bottom: 5px;
    }
    .card {
        width: 20vw;
        height: 20vh;
    }
    .description{
        margin-top:80%!important;
    }
    .description{
        margin-top:66%;
        padding-top:330px;
        font-size:large;
    }
}
@media screen and (max-width:600px) {
    .modal-content {
        width: 90%;
    }

    input, textarea {
        width: 100%;
    }

    body {
        height: auto;
        background-color: var(--primary-dark);
    }
    header {
        height: auto;
    }
    nav {
        background: var(--primary-dark);
        width: 100%;
        height: 100vh;
        position: absolute;
        display: flex;
        flex-direction: column;
        text-align: center;
        top: 3.4rem;
        left: -100%;
        z-index: 111111;
    }
    .social-container {
        
        text-align: center;
        justify-content: space-between;
     
      }
      .main {
        grid-template-columns: repeat(auto-fit, minmax(266px, 1fr));
        margin-top: 2rem;
        overflow-x: hidden;
    }
    .menu {
        display: block;
        opacity: 1;
        font-size: 1.5rem;
        font-weight: bold;
        color: #244D61;
    }
    .dark-mode .menu {
        color: var(--primary-color);
    }

    .dark-mode ul {
        background: var(--primary-dark);
    }

    .mode {
        position: absolute;
        right: 4rem;
    }

    .imagesMine {
        width: 100%;
        margin: auto;
    }

    .main {
        margin-top: 2rem;
    }
    #projectContainer{
        display: row; 
        justify-content: center; 
        margin-bottom: 5px;
    }

}

/* out of base */
/* Gallery */
.gallery{
    padding: 20px 10px 20px;
    margin: 0 auto;
    
}
.description{
    display: none;
    margin-top:66%;
    
}
.description.start {
    display: block; 
  }
@layer demo {
    .gallery {
      grid-template-columns:
        var(--col-1, 1fr)
        var(--col-2, 1fr)
        var(--col-3, 1fr)
        var(--col-4, 1fr)
        var(--col-5, 1fr);
  
      @media (prefers-reduced-motion: no-preference) {
        transition: grid-template-columns 2s var(--ease-spring-5);
      }
  
      &:has(label:nth-child(1) > input:checked) {
        --col-1: 5fr;
        --col-2: 3fr;
        
      }
      &:has(label:nth-child(2) > input:checked) {
        --col-1: 2fr;
        --col-2: 5fr;
        --col-3: 2fr;
        
      }
      &:has(label:nth-child(3) > input:checked) {
        --col-2: 2fr;
        --col-3: 5fr;
        --col-4: 2fr;
      }
      &:has(label:nth-child(4) > input:checked) {
        --col-3: 2fr;
        --col-4: 5fr;
        --col-5: 2fr;
      }
      &:has(label:nth-child(5) > input:checked) {
        --col-4: 3fr;
        --col-5: 5fr;
      }
  
      > label {
        background-image: var(--_img);
        background-position: center;
        background-size: auto 125%;
      }
    }
  }
  
  @layer demo.support {
  
    .gallery {
      inline-size: 80vw;
  
      display: grid;
      grid-auto-flow: column;
      grid-template-rows: 50vh;
      gap: var(--size-3);
      border: none;
  
      > label {
        cursor: pointer;
        border-radius: var(--radius-4);
  
        &:focus-within {
          outline: 1px solid #fff;
          outline-offset: 5px;
        }
  
        > input {
          opacity: 0;
        }
      }
    }
  }



